@tailwind base;
@tailwind components;
@tailwind utilities;

/* app/globals.css */
@layer base {
  @font-face {
    font-family: 'suit';
    src: url('/fonts/SUIT-Regular.otf') format('opentype');
    font-weight: 400; /* Regular */
  }

  @font-face {
    font-family: 'suit';
    src: url('/fonts/SUIT-Medium.otf') format('opentype');
    font-weight: 500;
  }

  @font-face {
    font-family: 'suit';
    src: url('/fonts/SUIT-SemiBold.otf') format('opentype');
    font-weight: 600;
  }

  @font-face {
    font-family: 'suit';
    src: url('/fonts/SUIT-Bold.otf') format('opentype');
    font-weight: 700;
  }

  @font-face {
    font-family: 'suit';
    src: url('/fonts/SUIT-ExtraBold.otf') format('opentype');
    font-weight: 800;
  }

  body {
    font-family: 'suit', sans-serif;
    font-weight: 400; /* Default weight */
  }

  /* Prevent text selection and dragging */
  * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-touch-callout: none; /* iOS Safari */
  }

  /* Prevent iOS link preview */
  a,
  img {
    -webkit-touch-callout: none;
  }

  /* Allow text selection for input and textarea */
  input,
  textarea {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    @apply outline-none;
    touch-action: manipulation;
  }
}

@layer base {
  input,
  textarea {
    @apply outline-none;
    touch-action: manipulation;
  }
}
@layer components {
  .label-default {
    @apply bg-white text-subCoral border border-subCoral rounded-md py-1 px-3;
  }

  .label-selected {
    @apply bg-subCoral text-white border border-subCoral rounded-md py-1 px-3;
  }

  .label-disabled {
    @apply bg-bgGray text-white border border-bgGray rounded-md py-1 px-3;
  }

  .tab-default {
    @apply text-subCoral/50 border-subCoral/50 border-b;
  }

  .tab-selected {
    @apply text-subCoral border-subCoral border-b;
  }

  .line-border {
    @apply border-t border-mainGray/30 my-3;
  }

  .modal-mainText {
    @apply text-20 text-subCoral font-medium whitespace-pre-wrap mb-2;
  }

  .modal-subText {
    @apply text-16 text-mainDarkGray whitespace-pre-wrap mb-3;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-datepicker__header {
  @apply !border-none !bg-mainCoral;
}

.react-datepicker__current-month {
  @apply !text-white;
}
